<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
</head>
<body>
    {% for pin in pins %}
        {{ pin.title }}
        {{ pin.description }}
    {% endfor %}
</body>
</html>